<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{> navbar}}

    <div class="collection">
        {{#if isEmpty}}

        <p>List is empty</p>

        {{else}}

        <div class="collection">
            {{#each articles}}
            <a href="/articles/article/{{this.id}}" class="collection-item"><span
                    class="badge">{{this.views}}</span>{{this.title}}</a>
            {{/each}}
        </div>

        {{/if}}
    </div>

    <ul class="pagination">
        {{#if isLeft}}
        <li class="disabled"><a href="/articles/all_list/{{left}}"><i class="material-icons">Сюди</i></a></li>
        {{/if}}

        {{#if isRight}}
        <li class="waves-effect"><a href="/articles/all_list/{{right}}"><i class="material-icons">Туди</i></a>
        </li>
        {{/if}}

    </ul>
</body>

</html>